*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #23b5b7;
    margin: 0;
    padding: 0;
}

.top {
    background-color: #00142a;
    height: 40px;
}

.main{
    margin: 0 6vw;
    background-color: #00142a;
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 70px;
}
h1{
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 50px;
    font-weight: 900;
}
h2{
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 50px;
}
.par{
    text-align: center;
    color: white;
    padding: 60px 20vw;
    font-size: 25px;
}
.action{
    text-align: center;
    color: white;
    font-size: 25px;
}
.text{
    padding-bottom: 40px;
    font-size: 35px;
}
.input{
    padding-bottom: 25px;
    height: 100%;
}
input{
    width: 28vw;
    height: 35px;
}
.btn{
    width: 14vw;
    height: 90px;
    border-radius: 25px;
    background-color: #ffa015;
    color: #290000;
    font-size: 30px;
}